.not-found-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.not-found-heading {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 56px;
  color: #ffffff;
}

@media (min-width: 576px) {
  .not-found-heading {
    font-size: 48px;
  }
}
