.teamMatch-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teamMatch-body-container {
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.KKR {
  background-image: linear-gradient(to bottom, #1e293b, #0f172a);
}
.RCB {
  background-image: linear-gradient(to bottom, #a4261d, #0f172a);
}
.KXP {
  background-image: linear-gradient(to bottom, #d91c1f, #0f172a);
}
.MI {
  background-image: linear-gradient(to bottom, #13418b, #0f172a);
}
.SH {
  background-image: linear-gradient(to bottom, #f26d22, #0f172a);
}
.DC {
  background-image: linear-gradient(to bottom, #5755a7, #0f172a);
}
.CSK {
  background-image: linear-gradient(to bottom, #f7db00, #0f172a);
}
.RR {
  background-image: linear-gradient(to bottom, #4f5db0, #0f172a);
}

.responsive-container {
  width: 90%;
}
.teamBannerImage {
  width: 100%;
}
.latestMatch-container {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}
.text {
  font-size: 16px;
  color: #ffffff;
  align-self: flex-start;
}
.recentMatch-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
