.latestMatch-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  background-color: #1e293b;
  padding: 40px;
}
.heading {
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
}
.name {
  font-size: 18px;
  color: #ffffff;
}
.team-logo {
  height: 250px;
  width: 250px;
}
